/* Font Style  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

/* Comon Styles */
body {
    font-family: 'Poppins', sans-serif;
}

.section-titel {
    min-width: 300px;
}

.max-w-45 {
    max-width: 45%;
}

.zero-to-hero-primary-text {
    color: #289BDE;
}

.zero-to-hero-primary-bg {
    background-color: #289BDE;
}

.zero-to-hero-primary-bg:hover {
    background-color: #1996de;
}

/* Header Slider  */
.carousel-item img {
    min-height: 70vh;
}

.zero-to-hero-slider-caption {
    max-width: 500px;
    height: 94%;
}

/* Frequently Asked Styles */
#frequently-asked {
    max-width: 900px;
}

/* Footer Styles  */
footer .container {
    max-width: 320px;
}


footer ul li a {
    border-radius: 50%;
    height: 45px;
    width: 45px;

}